langchain>=1.2.12
langchain-core>=1.2.18
langchain-openai>=1.1.7
langgraph>=1.1.0
langchain-community>=0.4.1
langchain-mcp-adapters>=0.2.1
langchain-chroma>=1.1.0
langgraph-checkpoint>=4.0.0
langgraph-sdk>=0.3.3
langgraph-checkpoint-sqlite
langgraph-checkpoint-redis>=0.4.0
langchain-tavily


chromadb>=0.5.0
pypdf>=4.3.0
tiktoken>=0.7.0
sqlite3
faiss-cpu>=1.13.2


tavily-python>=0.6.0
streamlit>=1.38.0
rich>=13.9.0


python-dotenv>=1.0.1
pydantic>=2.10.2

